body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site-container{
  min-height: 100vh;
}
header {
  background-color: #242323;
  padding: 1rem;
}

header a {
  color: #ffffffff;
  font-weight: bold;
  text-decoration: none;
}
main {
  padding: 1rem;
  flex:1;
}
.btn-primary {
  background-color:rgb(250, 104, 51);
  color:white;
  font-weight: bold;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  border: 1px solid #404040;
  box-shadow: 6px 4px 5px rgb(133, 131, 131);
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.product-information {
  padding: 1rem;
}
.rating span {
  color: rgb(250, 104, 51);
}
.img-large{
  max-width: 100%;
  border: 1px solid #787777;
  box-shadow: 6px 4px 5px rgb(162, 160, 160);
  margin: 1rem;
}
