html{
 margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* padding-bottom: 0px !important;
  margin-bottom: -40px !important; */
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* padding-bottom: 0px !important;
  margin-bottom: -40px !important; */
}
.site-container {
  /* position: relative; */
  min-height: 100vh;
}
header {
  background-color: #000000;
  padding: 0.5rem;
}

header a {
  color: #ffffffff;
  font-weight: bold;
  text-decoration: none;
}

main {
  flex: 1;
}
.product-title {
  text-transform: uppercase;
  opacity: 0.8;
  text-shadow: 1px 1px 2px black;
}
.title {
  opacity: 0.8;
  text-shadow: 1px 1px 2px black;
  text-transform: uppercase;
}
.middle-container {
  max-width: 900px;
}
.carousel {
  box-shadow: 3px 6px #bdbcbc;
  box-sizing: border-box;
}
.btn-primary,
.btn-outline-primary {
  background-color: rgb(244, 84, 25);
  color: white;
  font-weight: bold;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  border: 1px solid #404040;
  box-shadow: 6px 4px 5px rgb(133, 131, 131);
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.product-information {
  padding: 1rem;
}
.rating span {
  color: rgb(250, 104, 51);
}
.img-large {
  max-width:90%;
  border: 1px solid #cfcaca;
  box-shadow: 5px 3px 5px rgb(162, 160, 160);
  margin: 1rem;
}
.spinner {
  color: teal;
}

.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}

.form-container {
  max-width: 600px;
}

.checkout > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.3s;

}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;

}

.active-nav {
  left: 0;
  opacity:1;
  z-index: 2;
height: 100%;
}

.a-link,
.nav-link {
  text-decoration: none;
  color: white;
}

.text-bold {
  font-weight: bold;
}
.search-form {
  margin: 1rem;
  width: 75%;
}

.all{
  text-decoration: none;
}
