*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
.site-container {
position: relative;
  min-height: 100vh;
}
header {
  background-color: #242323;
  padding: 1rem;
}

header a {
  color: #ffffffff;
  font-weight: bold;
  text-decoration: none;
}

main {
  flex-grow: 1;
  margin: 0 auto;
  min-height: calc(100vh- 88px -64px);
}
.product-title {
  text-transform: uppercase;
  opacity: 0.8;
  text-shadow: 1px 1px 2px black;
}
.title {
  opacity: 0.8;
  text-shadow: 1px 1px 2px black;
  text-transform: uppercase;
}
.middle-container {
  max-width: 900px;
}
.carousel {
  box-shadow: 3px 6px #bdbcbc;
  box-sizing: border-box;
}
.btn-primary {
  background-color: rgb(244, 84, 25);
  color: white;
  font-weight: bold;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  border: 1px solid #404040;
  box-shadow: 6px 4px 5px rgb(133, 131, 131);
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.product-information {
  padding: 1rem;
}
.rating span {
  color: rgb(250, 104, 51);
}
.img-large {
  max-width: 100%;
  border: 1px solid #cfcaca;
  box-shadow: 5px 3px 5px rgb(162, 160, 160);
  margin: 1rem;
}
.spinner {
  color: teal;
}

.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}

.form-container {
  max-width: 600px;
}

.checkout > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}
.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 0;
  justify-content:center;
   flex-direction: column;
   display: flex;
  
}
.a-link{
   text-decoration: none;
}
